extends layout

block content
  h5= title
  a(href='/admin' class='link-primary me-3') back
  a(href='/admin/new-blog' class='link-primary') New Post
  hr

  each blog in blogs
    form(action=`blog/delete/${blog._id}?_method=DELETE` method='POST')
      div(class='card p-0 ms-3 m-2' style='width: 24rem')
        div(class='card-body')
          img(src=blog.thumbnail alt=blog.thumbnailAlt class='img-fluid rounded me-2' style='float:left;height:150px;width:150px;object-fit:cover;')
          p.card-title title: #{blog.title}
          p.card-title created: #{blog.createdAt}
          if (blog.published === false)
            p.card-title status: not published
          else
            p.card-title status: published
          a(href=`blog/edit/${blog._id}` class='card-link') edit
          input(type='submit' class='card-link link-danger remove-btn' value='delete')
          //- a(href='' class='card-link' data-id=blog._id) Publish
          p.card-text= blog.snippet
            a(href=`blog/${blog._id}` class='card-link') #{' '}read



